
    body {
        color: coral;
    }

    div a {
        text-decoration: none;
        color: darkred;
        text-align: left;
    }

    a:hover {
        cursor: pointer;
    }

    p {
        margin: 15px 15px;
        padding: 20px 20px;
        text-indent: 4px;
    }

    .shadow p {
        text-shadow: 1px 1px darkslategray;
    }

    .liste1 {
        font-style: italic;
    }

    .liste2 {
        font-weight: bold;
        list-style-type: circle;
    }

    .cadre {
        height: 300px;
        width: 500px;
        border: 1px solid black;
    }

