
    body {
        color: coral;
    }

/* Liens */
    a {
        text-decoration: none;
        color: darkred;
    }

    p a {
        vertical-align: super;
    }

    a:hover {
        cursor: pointer;
    }

/* Paragraphes */
    p {
        margin: 15px 15px;
        padding: 20px 20px;
        text-indent: 8px;
    }

    .shadow p {
        text-shadow: 1px 1px darkslategray;
    }

    .cadre {
        height: 300px;
        width: 500px;
        border: 1px solid black;
    }

/* Listes */
    .liste1 {
        font-style: italic;
    }

    ul li:nth-child(odd) {
        font-style: normal;
        font-weight: bold;
    }

    .liste2 {
        list-style-type: circle;
    }



